@media  (max-width:991px){
.btnone{
font-weight: 600;
font-size: 15px;
line-height: 180%;
color: #fff;
border-radius: 10px;
width: 110px;
height: 35px;
color: #fff;
border-style: none;
transition: 0.3s;
}
.btnone:focus {
border:1px solid #000;
background: none;
color: var(--primarycolor);
}
.btntwo{
font-weight: 500;
font-size: 15px;
line-height: 180%;
border: 0.70px solid #353535;
border-radius: 10px;
width: 135px;
height: 35px;
color: var(--primarycolor);
transition: 0.3s;
}
.btntwo:focus{
    border: none;
    background: var(--secondarycolor);
    color: white;
}
.btntwo-sm{
background: none;
font-weight: 500;
font-size: 18px;
line-height: 180%;
color: #353535;
border: 1px solid #000;
border-radius: 20px;
width: 171px;
height: 66px;
}
#banner .btnone,.btntwo{
    margin-bottom: 40px;
}
#banner h5{
margin-bottom: 8px;
font-weight: 500;
font-size: 15px;
color: #353535;
}
#banner h1{
margin-bottom: 14px;
font-family: var(--second-family);
font-weight: 700;
font-size: 34px;
color: #353535;
}
#banner h6{
font-weight: 500;
font-size: 16px;
line-height: 180%;
color: #353535;
}
#banner h6 a{
margin-bottom: 80px;
margin-left: 16px;
width: 16px;
height: 16px;
border-radius: 100%;
background: #f4f3f3;
color: var(--primarycolor);
}
#banner p{
font-weight: 400;
font-size: 15px;
line-height: 190%;
color: #353535;
}
#banner a{
font-weight: 600;
font-size: 20px;
line-height: 180%;
}
#banner #mouse{
visibility: hidden;
}
#aboutme{
    background: var(--gradient);
    margin-bottom: 75px;
}
#aboutme p{
font-weight: 400;
font-size: 14px;
line-height: 171%;
color: #4d4d4d;
}
#aboutme h2{
font-family: var(--second-family);
font-weight: 700;
font-size: 24px;
color: #353535;
}
#aboutme .img-fluid{
    transform: rotateY(180deg);
}
.pha{
    display: none;
}
.phone .box{
    justify-content: space-between;
display: flex;
border-radius: 12px;
padding-top: 26px;
width: 343px;
height: 156px;
box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.08);
background: #fff;
margin: 16px;
}
.phone .box img{
    width: 43px;
height: 45px;
}
.phone .box h5{
    font-family: var(--font-family);
    padding-left: 10px;
font-weight: 600;
font-size: 14px;
line-height: 180%;
color: #353535;
}
.phone .box p{
    font-family: var(--font-family);
font-weight: 400;
padding-left: 10px;
font-size: 12px;
line-height: 174%;
color: #7a7a7a;
}
.brd{
    background: var(--gradient);
    border-radius: 20px;
    margin: 50px 0;
    width: 380px;
}
.brd h2{
padding-top: 27px;
padding-left: 24px;
font-family: var(--second-family);
font-weight: 700;
font-size: 24px;
color: #353535;
}
.brd p{
padding-top: 17px;
padding-left: 24px;
font-family: var(--font-family);
font-weight: 400;
font-size: 14px;
line-height: 180%;
color: #353535;
}
.brd .btntwo-sm{
padding-top: 23px;
font-weight: 500;
font-size: 14px;
line-height: 180%;
color: #353535;
border: none;
}
.service-card {
        border-radius: 12px;
        width: 343px;
        height: 83px;
        box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.08);
        background: #fff;
        display: flex;
        align-items: center;
        margin-bottom: 18px;
        transition: .3s;
    }
.service-card h5{
font-weight: 600;
font-size: 15px;
line-height: 180%;
color: #353535;
}
.service-card p{
font-weight: 500;
font-size: 12px;
line-height: 180%;
color: #353535;
}
    .service-icon {
      width: 53px;
      height: 53px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 20px;
      color: #000000;
      font-size: 28px;
    }
    .right{
        display: none;
    }

    .what h2{
        font-family: var(--second-family);
        font-weight: 700;
        font-size: 24px;
        color: #353535;
        margin-bottom: 29px;
    }
    .what p{
        font-weight: 400;
        font-size: 15px;
        line-height: 180%;
        color: #7a7a7a;
        margin-bottom: 24px;
    }
    .what .list{
        display: flex;
    }
    .what .one{
        padding-right: 26px;
        padding-bottom: 38px;
    }

    .what .one h3{
        font-family: var(--second-family);
        font-weight: 700;
        font-size: 24px;
        text-align: left;
        color: #353535;
        margin-bottom: 9px;
    }
    .what .one p{
        font-family: var(--font-family);
        font-weight: 500;
        font-size: 10px;
        line-height: 180%;
        text-align: left;
        color: #353535;
    }